.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio #portfolio-flters {
    background: #fff;
    border-radius: 50px;
    list-style: none;
    margin: 0 auto 25px;
    padding: 2px 15px;
    text-align: center;
  }
  .portfolio #portfolio-flters li {
    color: var(--clr-grey);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  .portfolio #portfolio-flters li.filter-active,
  .portfolio #portfolio-flters li:hover {
    color: var(--clr-ict-blue);
  }
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  .portfolio .portfolio-wrap {
    background: rgba(69, 80, 91, 0.8);
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    z-index: 1;
  }
  .portfolio .portfolio-wrap:before {
    background: hsla(0, 0%, 100%, 0.7);
    bottom: 30px;
    content: "";
    left: 30px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
  }
  .portfolio .portfolio-wrap .portfolio-info:before {
    border-left: 3px solid #d7dce1;
    border-top: 3px solid #d7dce1;
    left: 35px;
    top: 35px;
  }
  .portfolio .portfolio-wrap .portfolio-info:after,
  .portfolio .portfolio-wrap .portfolio-info:before {
    content: "";
    display: block;
    height: 48px;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 48px;
    z-index: 9994;
  }
  .portfolio .portfolio-wrap .portfolio-info:after {
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    bottom: 35px;
    right: 35px;
  }
  .portfolio .portfolio-wrap .portfolio-info h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #45505b;
    display: inline-block;
    font-size: 28px;
    margin: 0 2px;
    transition: 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #148af9;
  }
  .portfolio .portfolio-wrap:hover:before {
    bottom: 0;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info:before {
    left: 15px;
    top: 15px;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info:after {
    bottom: 15px;
    right: 15px;
  }
  .portfolio-details {
    padding-top: 40px;
  }
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details
    .portfolio-details-slider
    .swiper-pagination
    .swiper-pagination-bullet {
    background-color: #fff;
    border: 1px solid var(--clr-ict-blue);
    height: 12px;
    opacity: 1;
    width: 12px;
  }
  .portfolio-details
    .portfolio-details-slider
    .swiper-pagination
    .swiper-pagination-bullet-active {
    background-color: var(--clr-ict-blue);
  }
  .portfolio-details .portfolio-info {
    box-shadow: 0 0 30px rgba(69, 80, 91, 0.08);
    padding: 30px;
  }
  .portfolio-details .portfolio-info h3 {
    border-bottom: 1px solid #eee;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .portfolio-details .portfolio-info ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
  }
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }